<h2>{{exposicion.titulo}}</h2>

<div class="fecha-lugar">
  {{exposicion.fechas}} <br>
  {{exposicion.lugar}}
</div>

<img src="{{exposicion.imagen}}" class="img-responsive">

<div class="datos-exposicion">
  <span class="label">Organización:</span>  {{exposicion.organizacion}} <br>
  <span class="label">Comisariado:</span> {{exposicion.comisario}} <br>
  <span class="label">Artistas:</span> loque sea <br>
</div>

<h3>Itinerancias</h3>
<div class="itinerancias">
	{{#each exposicion.itinerancia}}
	  <div class="itinerancia{{#equal nid ../itinerancia.nid }} active{{/equal}}">
	  	<div class="itinerancia-nombre">
	    	<a href="{{url}}" target="_blank">{{lugar}}</a>
	    </div>
	    <div class="itinerancia-lugar">{{fechas}}</div>
	  </div>
	{{/each}}
</div>

<a href="http://www.museoreinasofia.es{{exposicion.url}}" target="_blank" class="btn btn-default btn-block">ver más</a>
