<div class="tipo tipo--{{exposicion.tipo}}">
  {{#equal exposicion.tipo "actividad" }}<img src="imgs/pin-actividad.png">{{/equal}}
  {{#equal exposicion.tipo "exposicion" }}<img src="imgs/pin-exposicion.png">{{/equal}}
  {{#equal exposicion.tipo "coleccion_viaja" }}<img src="imgs/pin-coleccion.png">{{/equal}}

  {{#equal exposicion.tipo "actividad" }}<span class="tipo__texto">Actividad</span>{{/equal}}
  {{#equal exposicion.tipo "exposicion" }}<span class="tipo__texto">Exposición</span>{{/equal}}
  {{#equal exposicion.tipo "coleccion_viaja" }}<span class="tipo__texto">Colección</span>{{/equal}}
</div>
{{#equal exposicion.produccion "propia"}}<div class="produccion">Producción propia</div>{{/equal}}
{{#equal exposicion.produccion "ajena"}}<div class="produccion">Producción ajena</div>{{/equal}}

<h2>{{exposicion.titulo}}</h2>

<div class="fecha-lugar">
  {{exposicion.fechas}} <br>
  {{exposicion.lugar}}
</div>

<img src="{{exposicion.imagen}}" class="img-responsive">

<div class="datos-exposicion">
  <span class="label">Organización:</span>  {{exposicion.organizacion}} <br>
  {{#if exposicion.comisario}}
    <span class="label">Comisariado:</span> {{exposicion.comisario}} <br>
  {{/if}}
  <a href="http://www.museoreinasofia.es{{exposicion.url}}" target="_blank" class="btn btn-default btn-block">
    {{#equal exposicion.tipo "actividad" }}+ detalles de la actividad{{/equal}}
    {{#equal exposicion.tipo "exposicion" }}+ detalles de la exposición{{/equal}}
    {{#equal exposicion.tipo "coleccion_viaja" }}+ detalles de la exposición{{/equal}}
  </a>
</div>

<h3>Itinerancias</h3>
<div class="itinerancias">
	{{#each exposicion.itinerancia}}
	  <div class="itinerancia{{#equal nid ../itinerancia.nid }} active{{/equal}}">
	  	<div class="itinerancia-nombre">
        {{#if url.length}}
          <a href="{{url}}" target="_blank">{{lugar}}</a>
        {{else}}
          {{lugar}}
        {{/if}}
	    </div>
	    <div class="itinerancia-lugar">{{fechas}}</div>
	  </div>
	{{/each}}
</div>
