<div>
    <div class="titulo">{{exposicion.titulo}}</div>
    <div class="fechas">{{itinerancia.fechas}}</div>
    <div class="lugar"><a href="{{itinerancia.url}}" target="_blank">{{itinerancia.lugar}}</a></div>
    <a href="http://www.museoreinasofia.es{{exposicion.url}}" target="_blank">ver más</a>
</div>
